@import variables

h1
    margin: 25px 0
    font:
        size: 4rem
        weight: 700
    color: $color-one
h2
    margin: 50px 0 20px
    font:
        size: 3rem
        weight: 600
    color: $color-two
h3
    margin: 19px 0 15px
    font:
        size: 2rem
        weight: 500
    color: #cccccc
p, ul
    font:
        size: 1.25em
        weight: initial
small
    font: 
        size: 1.1em
        style: italic
a
    color: white
    text-decoration: none  