@import variables

h1
    margin: 25px 0
    font:
        size: 4rem
        weight: 700
    color: $color-one
h2
    margin: 50px 0 20px
    font:
        size: 3rem
        weight: 600
    color: $color-two
h3
    margin: 50px 0 20px
    font:
        size: 1.75rem
        weight: 500
    color: $color-three
p, ul
    font:
        size: 1.25rem
        weight: initial
    color: $font-color
small
    font: 
        size: 1.1rem
        style: italic
a
    color: white
    text-decoration: none  