// APPLIQUER LES BONNES DIMENSIONS DES CARTES DE PROJET EN FONCTION DE LA LARGEUR DE LA VIEWPORT
    
#projects-grid
    margin: 30px 0
    display: grid
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr))
    grid-template-rows: auto
    gap: 50px            