@import '../../styles/variables'

.cv-title-span
    filter: brightness(50%)

#profile-photo
    display: flex
    flex-wrap: wrap
    flex-direction: row
    justify-content: space-around
    align-items: center
    img
        width: 400px
        height: auto
    #infos
        #infos-a
            font-size: 5rem
        #infos-b
            font-size: 2rem
section
    margin: 30px 10px
    padding: 20px 10px
    background-image: linear-gradient(to right, #2b2b2b,#2a2e30) 
    border: 1px solid $color-two
    border-radius: 3px
    h2, h3
        margin: 0
    hr
        margin: 10px 0 20px
        border: 1px solid $color-two
        background-color: $color-two    
    p
        margin-bottom: 20px
    a
        color: $color-three
        text-decoration: underline
    #skills-list
        display: flex
        flex-wrap: wrap
        justify-content: space-between
        p
            font-size: 1.5em

@media screen and (max-width: 425px)
    #profile-photo
        img
            width: 300px
            height: auto
        #infos
            #infos-a
                font-size: 4rem
            #infos-b
                font-size: 1rem